* {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Grande', sans-serif;
  width: 100%;
  color: #000;
}

a {
  text-decoration: none;
  color: #08c;
}

a:hover {
  text-decoration: underline;
}

nav li {
  display: inline-block;
}

.main-nav {
  border: 1px solid #7c7c7c;
  border-radius: 4px;
  display: inline-block;
  background: linear-gradient(#8a8a8a, #5e5e5e, #787878);
  position: absolute;
  width: 988.5px;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 2px 2px 2px #5d5d5d;
}

.main-nav nav li {
  width: 102px;
  padding: 8px 6px;
  border-right: 1px solid #4c4c4c;
}

.main-nav nav a {
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav nav a:hover {
  text-decoration: none;
}

.main-nav nav,
.main-nav .search-bar {
  display: inline-block;
}

.search-bar {
  padding: 8px 12px;
}

.search-bar input {
  background: none;
  border: 1px solid #868686;
  border-radius: 9px;
  width: 106px;
  box-shadow: inset 1px 3px 4px #373737;
  background: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: 4px 50%;
  background-size: 12px 12px;
  padding-left: 18px;
  outline: none;
}

article {
  background: url("../img/your_verse_hero.jpeg") no-repeat left bottom;
  width: 100%;
  height: 538px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

#header-main {
  height: 104px;
  width: auto;
  pointer-events: none;
}

#header-sub {
  height: 82px;
  width: auto;
  margin-bottom: 30px;
  pointer-events: none;
}

#header-cta {
  background: url("../img/cta_your_verse_27pt.png") left top no-repeat;
  background-size: cover; 
  height: 32px;
  width: 980px;
}

#header-cta:hover {
  background: url("../img/cta_your_verse_27pt.png") left bottom no-repeat;
  background-size: cover; 
  height: 32px;
  width: 980px;
}

aside {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}

aside img {
  width: 354px;
}

aside img:hover {
  cursor: pointer;
}

footer {
  font-size: 10px;
  color: #6e6e6e;
  padding: 10px 0 26px;
  width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template: auto / 480px 500px;
}

footer .resource {
  padding-top: 15px;
}

footer nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer nav li {
  padding-left: 6px;
  border-left: 1px solid #ccc;
  margin-left: 6px;
}

nav .first {
  padding: 0;
  margin: 0;
  border: none;
}

.privacy p,
.privacy nav {
  display: inline-block;
}

footer .region.hide {
  color: #ffffff00;
  background-image: url("../img/usa.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  margin: -10px -10px -10px 0px;
}